<h1> Login </h1>
<div class="panel panel-default">
  <div class="panel-body">
    <form action="/session/create">
  <label for="name">Username</label>
  <input id="name" type="text" name="name">

  <input type="submit">
    </form>
   
    </div>
</div>
